* {
    margin: 0;
    padding: 0;
  margin-left: auto;
  margin-right: auto;
  }

  
  .container {
    width: 900px;
    height: 2600px;  
    padding: 50px;
   
    background-color: #b9b9be;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
  }
  
  .content {
    max-width: 900px;
    margin: 0 auto;
  }
  .top_section {
    margin-top: 100px;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .top_section h5 {
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #c4821f;
   
  }
  .top_section h1 {
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
  }
  .top_section h4 {
    font-size: 30px;
    margin-left: 100px;
  }
  
  .image_container,
  img {
    
    width: 400px;
    height: 420px;
  }
  .about_section {
    margin-top: 50px;
  }
  .about_section h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about_section p {
    font-size: 15px;
    line-height: 30px;
   
    text-align: justify;
  }
  .about_section h3 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .biography_section {
    margin: 50px ;
    font-size: 15px;
    line-height: 30px;
    
    text-align: justify;
  }
  .biography_section h3 {
    
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 400;
  }
  .biography_section ul {
    margin-left: 50px;
  }
  .biography_section li {
    margin-bottom: 15px;
  }
  
  footer {
    margin: 50px 0;
  }
  footer p {
    text-align: end;
  }